[Unit]
Description=notes
After=network.target

[Service]
User=app
WorkingDirectory=/opt/notes
ExecStart=/usr/bin/java -jar /opt/notes/target/easy-notes-{{app_version.stdout}}.jar
SyslogIdentifier=notes

[Install]
WantedBy=multi-user.target